{% extends 'admin_layout.html' %}
{% block main %}
<h4>Yeni Səhifəyə Banner Şəkili Əlavə Et</h4>
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="POST" action="" novalidate enctype="multipart/form-data" class="default-form"> 
                                            {{ form.hidden_tag() }}
                                            <div class="form-group row">
                                                {{ form.page_name.label(class="col-sm-2 col-form-label text-right") }}
                                                <div class="col-sm-10">
                                                    {% if form.page_name.errors %}
                                                        {{ form.page_name(class="is-invalid form-control") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.page_name.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.page_name(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                {{ form.banner_img.label(class="col-sm-2 col-form-label text-right") }}
                                                {{ form.banner_img(style="margin-left:12px; margin-top:5px;") }}
                                                {% if form.banner_img.errors %}
                                                    {% for error in form.banner_img.errors %}
                                                        <span class="text-danger">{{ error }}</span></br>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>    
                                            <div class="form-group row">
                                                {{ form.submit(class="btn btn-primary", style="margin-left:15px;") }}
                                            </div>                               
                                        </form>
                                    </div>
                                </div>                                                                      
                            </div>
                        </div>

<h4>Banner Əlavə Edilmiş Səhifələr</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Səhifənin Adı</th>
                                                    <th>Banner Şəkili</th>
                                                    <th>Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for banner_img in banner_imgs %}
                                                    <tr>
                                                        <td>{{ banner_img.id }}</td>
                                                        <td>{{ banner_img.page_name }}</td>
                                                        <td>{{ banner_img.banner_img }}</td>
                                                        <td>
                                                            <a href="{{url_for('admin.banner_delete', id = banner_img.id)}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
{% endblock %}