{% extends 'layout.html' %} {% block main %}
<div class="site-wrapper-reveal">
    <div class="about-banner-wrap banner-space bg-img" data-bg="{{ banner_file }}">
        <div class=" container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">Pragmatech</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">
            <div class="cybersecurity-about-box">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="modern-number-01">
                            <h3 class="heading">Pragmatech Təhsil və İnkişaf Mərkəzi</h3>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="conact-us-wrap-one managed-it">
                            <h5 class="heading ">{{ datas.main_text }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-wrapper section-space--pb_100">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 pr-5">
                    <div class="faq-two-wrapper section-space--mt_40">
                        <div id="accordion_two">
                            {% for question in questions %}
                                <div class="card">
                                    <div class="card-header" id="heading__{{ question.id }}">
                                        <h5 class="mb-0">
                                            <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapse__{{ question.id }}" aria-expanded="false" aria-controls="collapse__{{ question.id }}">
                                                {{ question.question }}
                                                <span>
                                                    <i class="far fa-caret-circle-down"></i>
                                                    <i class="far fa-caret-circle-right"></i> 
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse__{{ question.id }}" class="collapse" aria-labelledby="heading__{{ question.id }}" data-parent="#accordion_two">
                                        <div class="card-body">
                                            <p>{{ question.answer }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="video-interview section-space--mt_40">
                        <div class="single-popup-wrap">
                            <img class="img-fluid border-radus-5" src="{{ second_file }}" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}