{% extends 'layout.html' %} {% block main %}
<div class="site-wrapper-reveal">
    <div class="about-banner-wrap banner-space bg-img" data-bg="{{ banner_file }}">
        <div class=" container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">{{ package.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-large-images-wrapper section-space--ptb_100">
        <div class="container">
            <div class="cybersecurity-about-box">
                {{ package.all_details|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}