{% extends 'admin_layout.html' %}
{% block main %}
<h4>Səhifənin Əsas Şəkili</h4>
<div class="card">
    <div class="card-body"> 
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ url_for('static', filename='user_assets/images/site_pics/' + banner_img.banner_img) }}" style="height:450px; width:1000px;margin-bottom:5px;">
                <form method="POST" action="" novalidate enctype="multipart/form-data" class="default-form"> 
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        {{ form.banner_img.label(class="col-sm-2 col-form-label text-right") }}
                        {{ form.banner_img(style="margin-left:12px; margin-top:5px;") }}
                        {% if form.banner_img.errors %}
                            {% for error in form.banner_img.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>    
                    <div class="form-group row">
                        {{ form.submit(class="btn btn-primary", style="margin-left:13px;") }}
                    </div>                               
                </form>
            </div>
        </div>                                                                      
    </div>
</div>
<h4>Banner Section Datas</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Əsas Yazı</th>
                                                    <th>İkinci Şəkil</th>
                                                    <th>Redaktə</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in datas %}
                                                    <tr>
                                                        <td>{{ data.main_text }}</td>
                                                        <td>{{ data.second_img }}</td>
                                                        <td>
                                                            <a href="{{url_for('admin.about_edit', id = data.id)}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<h4>Sual-Cavab Section</h4>
<a class="btn btn-primary mb-3" href="{{ url_for('admin.about_que_add') }}">Yeni Sual-Cavab Əlavə Et</a>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Sual</th>
                                                    <th>Cavab</th>
                                                    <th>Redaktə/Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for question in questions %}
                                                    <tr>
                                                        <td>{{ question.id }}</td>
                                                        <td>{{ question.question }}</td>
                                                        <td>{{ question.answer }}</td>
                                                        <td>
                                                            <a href="{{url_for('admin.about_que_edit', id = question.id)}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                            <a href="{{url_for('admin.about_que_delete', id = question.id)}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

{% endblock %}