{% extends 'admin_layout.html' %}
{% block main %}
<h4>Üstünlüklər Bölməsinin Əsas Şəkili</h4>
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="POST" action="" novalidate enctype="multipart/form-data" class="default-form"> 
                                            {{ form.hidden_tag() }}
                                            <div class="form-group row">
                                                {{ form.banner_img.label(class="col-sm-2 col-form-label text-right") }}
                                                {{ form.banner_img(style="margin-left:12px; margin-top:5px;") }}
                                                {% if form.banner_img.errors %}
                                                    {% for error in form.banner_img.errors %}
                                                        <span class="text-danger">{{ error }}</span></br>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>    
                                            <div class="form-group row">
                                                {{ form.submit(class="btn btn-primary", style="margin-left:15px;") }}
                                            </div>                               
                                        </form>
                                    </div>
                                </div>                                                                      
                            </div>
                        </div>

<h4>Üstünlüklər Bölməsi</h4>
<a class="btn btn-primary mb-3" href="{{ url_for('admin.advantage_add') }}">Yeni Üstünlük Əlavə Et</a>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Başlıq</th>
                                                    <th>Təsviri</th>
                                                    <th>Şəkili</th>
                                                    <th>Redaktə/Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for advantage in advantages %}
                                                    <tr>
                                                        <td>{{ advantage.id }}</td>
                                                        <td>{{ advantage.title }}</td>
                                                        <td>{{ advantage.description }}</td>
                                                        <td>{{ advantage.svg_img }}</td>
                                                        <td>
                                                            <a href="{{url_for('admin.advantage_edit', id = advantage.id)}}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                            <a href="{{url_for('admin.advantage_delete', id = advantage.id)}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
{% endblock %}